<%= form_for @show do |f|%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <% if @show.errors.any? %>
    <h2><%= pluralize(@show.errors.count, "error") %></h2>
    <ul>
    <% @show.errors.messages.each do |message| %>
    <li><%= message %></li>
    <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Title", required: true%>
    <%= f.label :genre %><br>
    <%= f.text_field :genre, placeholder: "Genre", required: true%>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Description", required: true%>
    <%= f.label :seasons %><br>
    <%= f.text_field :seasons, placeholder: "Seasons", required: true%>
    
    <%= f.label :rating %><br>
    <%= f.text_field :rating, placeholder: "Rating", required: true%>
   
    <%= f.submit %>
    
    <% end %>