<h1>Title:</h1>
    <%= @show.title %>
<h1>Genre:</h1>
    <%= @show.genre %>
<h1>Description:</h1>
    <%= @show.description %>
<h1>Seasons: <%= @show.seasons %></h1>
<h1>Rating: <%= @show.rating %></h1>

<!----<%= link_to 'Back', welcome_path %> not trying to delete already created show --------!>
<%= link_to 'Reviews', reviews_path %>
<%= link_to 'Back', shows_path %>